      <div id="content">
      <div class="fullwidthbanner-container slider-revolution">
      </div>

      <div class="container">
       <div class="row">
          <div class="span12">
            <div class="headline text-center">
              <h3>Why Choose Shiksha System?</h3>
            </div><!-- end .headline -->
          </div><!-- end .span3 -->
        </div><!-- end .row -->
              <div class="row">
                <div class="span6">
                  <div class="accordion">

                  <a class="accordion-item" href="#"> 24/7 support</a>

                  <div class="accordion-item-content">
                    <p>Team ShikSha System is there to offer support 24/7 to help with any problem you encounter or answer any questions you may have about ERP Software.</p>

                  </div><!-- end .accordion-item-content -->

                  <a class="accordion-item" href="#"> User Friendly</a>

                  <div class="accordion-item-content">
                  <p>Do you have basic computer knowledge? It's easy to work on Shiksha System school ERP software on your first login without any instructions.</p>

                  </div><!-- end .accordion-item-content -->

                  <a class="accordion-item" href="#">Use in any school or college</a>

                  <div class="accordion-item-content">
                    <p>Use ShikSha System in any kind of educational institution - schools, universities, colleges and training centers.</p>
                  </div><!-- end .accordion-item-content -->
                </div><!-- end .accordion -->
            </div><!-- end .span4 -->
          <div class="span6">
            <div class="accordion">
              <a class="accordion-item" href="#"> Powerful internal messaging system</a>
                  <div class="accordion-item-content">
                    <p>No need for external e-mailing services for communication.</p>
                  </div><!-- end .accordion-item-content -->
                  <a class="accordion-item" href="#"> Web Based </a>

                  <div class="accordion-item-content">
                    <p>You do not have to install anything on your computer. Shiksha System is web based enterprise software. That means you use it in your favorite browser.</p>
                  </div><!-- end .accordion-item-content -->
                  <a class="accordion-item" href="#">Analyze student performance</a>
                  <div class="accordion-item-content">
                    <p>Shiksha System allows you to store information about the past history of your students to let you analyze performance.</p>
                  </div><!-- end .accordion-item-content -->
                </div><!-- end .accordion -->
              </div>
                 <!-- <a href="#" class="btn btn-red pull-right">View more</a> -->
            </div><!-- end .row -->
      </div><!-- end .container -->
      <div class="container">
      <hr>
        <div class="row">
          <div class="span12">
            <div class="headline text-center">
              <h3>Shiksha System Modules</h3>
            </div><!-- end .headline -->
          </div><!-- end .span3 -->
        </div><!-- end .row -->
                <div class="row">
                  <div class="span4">
                      <div class="icon-box-1">

                          <div class="icon-box-content">
                              <h5 class="hide-line-link">
                                <a title="Configure and manage multiple courses and batches according to your institution’s systems and process.">COURSES AND BATCHES</a>
                              </h5>
                          </div><!-- end .icon-box-content -->
                      </div><!-- end .icon-box-1 -->
                  </div><!-- end .span4 -->
                  <div class="span4">
                      <div class="icon-box-1">

                          <div class="icon-box-content">
                              <h5 class="hide-line-link">
                                  <a title="Record and organize all employee details enabling quick access to employee information, and effective management of employee payroll and leave.">HUMAN RESOURCES</a>
                              </h5>
                          </div><!-- end .icon-box-content -->
                      </div><!-- end .icon-box-1 -->
                  </div><!-- end .span4 -->
                  <div class="span4">
                      <div class="icon-box-1">

                          <div class="icon-box-content">
                              <h5 class="hide-line-link">
                                <a title="From supporting grading systems such as ICSE, CCE, CWA, and GPA to generating various student examinations reports, schedule and manage examinations effortlessly to fit the needs of your institution.">Timetable</a>
                              </h5>
                          </div><!-- end .icon-box-content -->
                      </div><!-- end .icon-box-1 -->
                  </div><!-- end .span4 -->
                </div><!-- end .row -->
                <div class="row">
                    <div class="span4">
                        <div class="icon-box-1">

                            <div class="icon-box-content">
                                <h5 class="hide-line-link">
                                  <a title="Create clear and error free timetables within minutes ensuring the best utilization and optimization of teachers and employees across your institution.">Student Attendance</a>
                                </h5>
                            </div><!-- end .icon-box-content -->
                        </div><!-- end .icon-box-1 -->
                    </div><!-- end .span4 -->
                  <div class="span4">
                        <div class="icon-box-1">
                            <div class="icon-box-content">
                                <h5 class="hide-line-link">
                                  <a title="Simple, yet beautifully designed live dashboards for each user role featuring customizable, that allows quick access to your favorite and most important information, and an innovative search bar with 'Action Search' functionality.">Customisable Dashboards</a>
                                </h5>
                            </div><!-- end .icon-box-content -->
                        </div><!-- end .icon-box-1 -->
                    </div><!-- end .span4 -->
                    <div class="span4">
                        <div class="icon-box-1">

                            <div class="icon-box-content">
                                <h5 class="hide-line-link">
                                  <a title="From supporting grading systems such as ICSE, CCE, CWA, and GPA to generating various student examinations reports, schedule and manage examinations effortlessly to fit the needs of your institution.">Examination</a>
                                </h5>
                            </div><!-- end .icon-box-content -->
                        </div><!-- end .icon-box-1 -->
                    </div><!-- end .span4 -->
                </div><!-- end .row -->
                <div class="row">

                    <div class="span4">
                        <div class="icon-box-1">

                            <div class="icon-box-content">
                                <h5 class="hide-line-link">
                                  <a title="Efficiently manage the complete student admission process using customized admission forms and help welcome applicants that are the best fit for your institution.">Student Admission</a>
                                </h5>
                            </div><!-- end .icon-box-content -->
                        </div><!-- end .icon-box-1 -->
                    </div><!-- end .span4 -->
                    <div class="span4">
                        <div class="icon-box-1">

                            <div class="icon-box-content">
                                <h5 class="hide-line-link">
                                  <a title="Spread the news and keep all your employees and students engaged by bringing the latest happenings on campus right to their dashboards and mobile phones.">News Management</a>
                                </h5>
                            </div><!-- end .icon-box-content -->
                        </div><!-- end .icon-box-1 -->
                    </div><!-- end .span4 -->
                    <div class="span4">
                        <div class="icon-box-1">
                            <div class="icon-box-content">
                                <h5 class="hide-line-link">
                                  <a title="Four user roles—Administrator, Employee, Student, and Parent—that determine what the user can and cannot do within Shiksha System. Administrators can assign and manage employee privileges based on the role played in the institution.">User Management</a>
                                </h5>
                            </div><!-- end .icon-box-content -->
                        </div><!-- end .icon-box-1 -->
                    </div><!-- end .span4 -->
                </div><!-- end .row -->
                <div class="row">

                    <div class="span4">
                        <div class="icon-box-1">

                            <div class="icon-box-content">
                                <h5 class="hide-line-link">
                                  <a title="Inform, and be informed of events happening on and off campus by glancing at your color coded Shiksha System calendar.">Institute/Event Calendar</a>
                                </h5>
                            </div><!-- end .icon-box-content -->
                        </div><!-- end .icon-box-1 -->
                    </div><!-- end .span4 -->
                    <div class="span4">
                        <div class="icon-box-1">

                            <div class="icon-box-content">
                                <h5 class="hide-line-link">
                                  <a title="Secure, comprehensive, and robust—the Finance module provides a fast and efficient way to register financial transactions, automate transactions, and generate financial reports that will help you gain financial insight on managing costs and expenditures.">Finance</a>
                                </h5>
                            </div><!-- end .icon-box-content -->
                        </div><!-- end .icon-box-1 -->
                    </div><!-- end .span4 -->
                     <div class="span4">
                        <div class="icon-box-1">

                            <div class="icon-box-content">
                                <h5 class="hide-line-link">
                                  <a title="A quick and easy way to search and access all your student records, both current and archived using various filters.">Student Information</a>
                                </h5>
                            </div><!-- end .icon-box-content -->
                        </div><!-- end .icon-box-1 -->
                    </div><!-- end .span4 -->

                </div><!-- end .row -->
                <div class="row">
                    <div class="span4">
                        <div class="icon-box-1">

                            <div class="icon-box-content">
                                <h5 class="hide-line-link">
                                  <a title="Secure personalized login credentials for every employee, allowing them to perform their tasks efficiently depending on the privileges assigned by their roles.">Employee/Teacher Login</a>
                                </h5>
                            </div><!-- end .icon-box-content -->
                        </div><!-- end .icon-box-1 -->
                    </div><!-- end .span4 -->
                    <div class="span4">
                        <div class="icon-box-1">

                            <div class="icon-box-content">
                                <h5 class="hide-line-link">
                                   <a title="Secure personalized login credentials for every student and parent; to empower all students to make the most of Shiksha System and achieve their educational goals, while facilitating parents to monitor and track their ward’s progress reports, results, attendance, and many more.">Student/Parent Login</a>
                                </h5>
                            </div><!-- end .icon-box-content -->
                        </div><!-- end .icon-box-1 -->
                    </div><!-- end .span4 -->
                     <div class="span4">
                        <div class="icon-box-1">

                            <div class="icon-box-content">
                                <h5 class="hide-line-link">
                                  <a title="An inbuilt messaging system for quick and easy communication between employees, students, and parents that also acts as a reminder system by sending the user prompt reminders.">Messaging System</a>
                                </h5>
                            </div><!-- end .icon-box-content -->
                        </div><!-- end .icon-box-1 -->
                    </div><!-- end .span4 -->
                </div><!-- end .row -->
                <div class="row">


                    <div class="span4">
                        <div class="icon-box-1">

                            <div class="icon-box-content">
                                <h5 class="hide-line-link">
                                  <a title="Provide feedback and general comments about a student’s performance in class and in examinations.">Custom Student Remarks</a>
                                </h5>
                            </div><!-- end .icon-box-content -->
                        </div><!-- end .icon-box-1 -->
                    </div><!-- end .span4 -->

                    <div class="span4">
                        <div class="icon-box-1">

                            <div class="icon-box-content">
                                <h5 class="hide-line-link">
                                  <a title="Communicate with students, parents, and employees on a more personal level by sending SMS text messages right to their mobile phones from Shiksha System. Customize the SMS settings to deliver alerts when specific events occur in Shiksha System.">SMS integration</a>
                                </h5>
                            </div><!-- end .icon-box-content -->
                        </div><!-- end .icon-box-1 -->
                    </div><!-- end .span4 -->
                    <div class="span4">
                        <div class="icon-box-1">
                            <div class="icon-box-content">
                                <h5 class="hide-line-link">
                                  <a title="In addition to generating specific student and employee reports, you can create custom reports using a wide range of filters.">Custom Report</a>
                                </h5>
                            </div><!-- end .icon-box-content -->
                        </div><!-- end .icon-box-1 -->
                    </div><!-- end .span4 -->
                </div><!-- end .row -->
             </div><!-- end .container -->

          <div class="container">
            <hr>
            <div class="row">
              <div class="span12">
                <div class="headline text-center">
                  <h3>Pro Modules </h3>
                </div><!-- end .headline -->
              </div><!-- end .span3 -->
          </div>
                <div class="row">
                    <div class="span4">
                        <div class="icon-box-1">

                            <div class="icon-box-content">
                            <h5 class="hide-line-link">
                                <a title="Distribute and manage homework/assignments with defined due dates, subject notes, and resources to your students instantly.">Assignment</a>
                            </h5>
                            </div><!-- end .icon-box-content -->
                        </div><!-- end .icon-box-1 -->
                    </div><!-- end .span4 -->
                    <div class="span4">
                        <div class="icon-box-1">

                            <div class="icon-box-content">
                                <h5 class="hide-line-link">
                                    <a title="Assign and manage student fee collections with just a few clicks.">Fee Import</a>
                                </h5>
                            </div><!-- end .icon-box-content -->
                        </div><!-- end .icon-box-1 -->
                    </div><!-- end .span4 -->
                    <div class="span4">
                        <div class="icon-box-1">

                            <div class="icon-box-content">
                                <h5 class="hide-line-link">
                                    <a title="Efficiently manage all your hostels and residential facilities in the institution. Allocate rooms to students, collect and track hostel fees, and generate comprehensive reports that will help keep you on top of all important hostel administrative activities.">Hostel</a>

                                </h5>
                            </div><!-- end .icon-box-content -->
                        </div><!-- end .icon-box-1 -->
                    </div><!-- end .span4 -->
                </div><!-- end .row -->
                <div class="row">
                    <div class="span4">
                        <div class="icon-box-1">

                            <div class="icon-box-content">
                                <h5 class="hide-line-link">
                                    <a title=" Integrated with barcode scanning functionality, you can now efficiently manage and track all the operations performed in your library, from cataloguing of books to maintaining records of books issued and overdue, and a lot more.">Library</a>
                                </h5>
                            </div><!-- end .icon-box-content -->
                        </div><!-- end .icon-box-1 -->
                    </div><!-- end .span4 -->
                    <div class="span4">
                        <div class="icon-box-1">

                            <div class="icon-box-content">
                                <h5 class="hide-line-link">
                                    <a title="Manage your institution’s inventory more efficiently and make sure the items are properly utilized. You can record and maintain item and supplier details, raise indents and purchase orders, as well as create invoices and goods received notes.">Inventory</a>

                                </h5>
                            </div><!-- end .icon-box-content -->
                        </div><!-- end .icon-box-1 -->
                    </div><!-- end .span4 -->
                    <div class="span4">
                        <div class="icon-box-1">

                            <div class="icon-box-content">
                                <h5 class="hide-line-link">
                                    <a title="Make it quick and save yourself much time and effort performing common data entry tasks. Upload data in to Shiksha System in bulk using predefined CSV files.">Custom Import</a>
                                </h5>
                            </div><!-- end .icon-box-content -->
                        </div><!-- end .icon-box-1 -->
                    </div><!-- end .span4 -->
                </div><!-- end .row -->
                <div class="row">
                  <div class="span4">
                        <div class="icon-box-1">

                            <div class="icon-box-content">
                                <h5 class="hide-line-link">
                                    <a title=" Integrated with barcode scanning functionality, you can now efficiently manage and track all the operations performed in your library, from cataloguing of books to maintaining records of books issued and overdue, and a lot more.">INSTANT FEE</a>
                                </h5>
                            </div><!-- end .icon-box-content -->
                        </div><!-- end .icon-box-1 -->
                    </div><!-- end .span4 -->
                     <div class="span4">
                        <div class="icon-box-1">

                            <div class="icon-box-content">
                                <h5 class="hide-line-link">
                                    <a title=" Integrated with barcode scanning functionality, you can now efficiently manage and track all the operations performed in your library, from cataloguing of books to maintaining records of books issued and overdue, and a lot more.">POLL</a>
                                </h5>
                            </div><!-- end .icon-box-content -->
                        </div><!-- end .icon-box-1 -->
                    </div><!-- end .span4 -->
                     <div class="span4">
                        <div class="icon-box-1">

                            <div class="icon-box-content">
                                <h5 class="hide-line-link">
                                    <a title="Manage your institution’s inventory more efficiently and make sure the items are properly utilized. You can record and maintain item and supplier details, raise indents and purchase orders, as well as create invoices and goods received notes.">DATA MANAGEMENT</a>

                                </h5>
                            </div><!-- end .icon-box-content -->
                        </div><!-- end .icon-box-1 -->
                    </div><!-- end .span4 -->
                </div>
                <div class="row">
                  <div class="span4">
                        <div class="icon-box-1">

                            <div class="icon-box-content">
                                <h5 class="hide-line-link">
                                    <a title=" Integrated with barcode scanning functionality, you can now efficiently manage and track all the operations performed in your library, from cataloguing of books to maintaining records of books issued and overdue, and a lot more.">CUSTOM REPORT</a>
                                </h5>
                            </div><!-- end .icon-box-content -->
                        </div><!-- end .icon-box-1 -->
                    </div><!-- end .span4 -->
                    <div class="span4">
                        <div class="icon-box-1">

                            <div class="icon-box-content">
                                <h5 class="hide-line-link">
                                    <a title="Manage your institution’s inventory more efficiently and make sure the items are properly utilized. You can record and maintain item and supplier details, raise indents and purchase orders, as well as create invoices and goods received notes.">TRANSPORT</a>

                                </h5>
                            </div><!-- end .icon-box-content -->
                        </div><!-- end .icon-box-1 -->
                    </div><!-- end .span4 -->
                    <div class="span4">
                        <div class="icon-box-1">

                            <div class="icon-box-content">
                                <h5 class="hide-line-link">
                                    <a title="Make it quick and save yourself much time and effort performing common data entry tasks. Upload data in to Shiksha System in bulk using predefined CSV files.">PLACEMENT</a>
                                </h5>
                            </div><!-- end .icon-box-content -->
                        </div><!-- end .icon-box-1 -->
                    </div><!-- end .span4 -->
                </div>
              </div><!-- end .container -->
            <div class="container">
                <hr>
                <div class="row">
                  <div class="span12">
                    <div class="headline text-center">
              <h3>Pro Plus Modules </h3>

            </div><!-- end .headline -->
          </div><!-- end .span3 -->
          </div>
          <div class="row">
            <div class="span4">
              <div class="icon-box-1">

                <div class="icon-box-content">
                    <h5 class="hide-line-link">
                        <a title="Replace the traditional paper assessment by creating customized computer-based testing from anywhere. With a rich set of question types, you can create standardized tests that allow students to see test results right away.">Online Exam</a>
                    </h5>
                </div><!-- end .icon-box-content -->
              </div><!-- end .icon-box-1 -->
            </div><!-- end .span4 -->
            <div class="span4">
              <div class="icon-box-1">

                <div class="icon-box-content">
                    <h5 class="hide-line-link">
                      <a title="Make secure online fee payments using Paypal, Authorize.net and Interswitch">Payment Gateway</a>
                    </h5>
                </div><!-- end .icon-box-content -->
              </div><!-- end .icon-box-1 -->
            </div><!-- end .span4 -->
            <div class="span4">
              <div class="icon-box-1">

                <div class="icon-box-content">
                    <h5 class="hide-line-link">
                      <a title=" Empower students, teachers, and other employees to create and publish blog posts on any topic and help share their story with everyone. It includes features typically found in blogs such as searching for old entries, commenting, comment moderation, and many more.">Blog</a>
                    </h5>
                </div><!-- end .icon-box-content -->
              </div><!-- end .icon-box-1 -->
            </div><!-- end .span4 -->
          </div>
          <div class="row">
            <div class="span4">
              <div class="icon-box-1">

                <div class="icon-box-content">
                    <h5 class="hide-line-link">
                        <a title="A safe location for all your files that is to be shared with other Shiksha System users.">Doc manager</a>
                    </h5>
                </div><!-- end .icon-box-content -->
              </div><!-- end .icon-box-1 -->
            </div><!-- end .span4 -->
            <div class="span4">
              <div class="icon-box-1">

                <div class="icon-box-content">
                    <h5 class="hide-line-link">
                        <a title="Customize your email settings to communicate more efficiently with employees, students, and parents. Set automatic email alerts to be sent when admitting students and employees, publishing exam schedules and exam results, nearing fees due dates, and many more.">Email integration</a>
                    </h5>
                </div><!-- end .icon-box-content -->
              </div><!-- end .icon-box-1 -->
            </div><!-- end .span4 -->
            <div class="span4">
              <div class="icon-box-1">

                <div class="icon-box-content">
                    <h5 class="hide-line-link">
                        <a title="Access documents uploaded to Google Docs in Shiksha System and vice versa.">Google Doc</a>
                    </h5>
                </div><!-- end .icon-box-content -->
              </div><!-- end .icon-box-1 -->
            </div><!-- end .span4 -->
          </div>
          <div class="row">
            <div class="span4">
              <div class="icon-box-1">
                <div class="icon-box-content">
                    <h5 class="hide-line-link">
                      <a title="Organize events to help connect your students and employees with alumni and build strong relationships.">Alumni</a>
                    </h5>
                </div><!-- end .icon-box-content -->
              </div><!-- end .icon-box-1 -->
            </div><!-- end .span4 -->
            <div class="span4">
              <div class="icon-box-1">
                <div class="icon-box-content">
                    <h5 class="hide-line-link">
                      <a title="Monitor and track user activities in Shiksha System in real-time.">Audit</a>
                    </h5>
                </div><!-- end .icon-box-content -->
              </div><!-- end .icon-box-1 -->
            </div><!-- end .span4 -->
            <div class="span4">
              <div class="icon-box-1">
                <div class="icon-box-content">
                    <h5 class="hide-line-link">
                      <a title="Enable students, teachers, and other employees to collaborate, interact, and exchange information and ideas. Encourage thoughtful dialogue by allowing members to post messages and reply to other messages.">Discussion</a>
                    </h5>
                </div><!-- end .icon-box-content -->
              </div><!-- end .icon-box-1 -->
            </div><!-- end .span4 -->
          </div>
           <div class="row">
            <div class="span4">
              <div class="icon-box-1">
                <div class="icon-box-content">
                    <h5 class="hide-line-link">
                      <a title="Organize events to help connect your students and employees with alumni and build strong relationships.">FORM BUILDER</a>
                    </h5>
                </div><!-- end .icon-box-content -->
              </div><!-- end .icon-box-1 -->
            </div><!-- end .span4 -->
            <div class="span4">
              <div class="icon-box-1">
                <div class="icon-box-content">
                    <h5 class="hide-line-link">
                      <a title="Monitor and track user activities in Shiksha System in real-time.">MOBILE VERSION</a>
                    </h5>
                </div><!-- end .icon-box-content -->
              </div><!-- end .icon-box-1 -->
            </div><!-- end .span4 -->
            <div class="span4">
              <div class="icon-box-1">
                <div class="icon-box-content">
                    <h5 class="hide-line-link">
                      <a title="Enable students, teachers, and other employees to collaborate, interact, and exchange information and ideas. Encourage thoughtful dialogue by allowing members to post messages and reply to other messages.">GALLERY</a>
                    </h5>
                </div><!-- end .icon-box-content -->
              </div><!-- end .icon-box-1 -->
            </div><!-- end .span4 -->
          </div>
           <div class="row">
            <div class="span4">
              <div class="icon-box-1">
                <div class="icon-box-content">
                    <h5 class="hide-line-link">
                      <a title="Organize events to help connect your students and employees with alumni and build strong relationships.">DATA EXPORT</a>
                    </h5>
                </div><!-- end .icon-box-content -->
              </div><!-- end .icon-box-1 -->
            </div><!-- end .span4 -->
          </div>
        </div>
      <div class="fullwidth-section parallax parallax-enabled" id="bg-18" style="background-position: 49% 48px;">
        <div class="fullwidth-section-content">
          <div class="container">
            <div class="row">
              <div class="span12">
                <div class="info-box">
                  <span>
                    <i class="ifc-talk"></i>
                  </span>
                  <div class="row">
                    <div class="span9">
                      <h4>Free Demo of Shiksha System School Management Information System</h4>
                      <p>Shiksha System helps to manage students, employees and other systems and processes of your institution</p>
                      <p>Send an email to <a href="mailto:info@sikshasystem.com?Subject=ERP%20Demo"> info@sikshasystem.com</a></p>
                    </div><!-- end .span9 -->
                    <div class="span3">
                      <div class="btn" style="height:100px;width: 166px;text-align: center;background: #303030;">Let Us Call!<br><br>
                      <strong>+91- 851 0034 891</strong>
                      <a href="" class="btn" style="height:10px;width: 104px; margin-left: -6px;">Contact Us</a>
                    </div>
                    </div><!-- end .span3 -->
                  </div><!-- end .row -->
                </div><!-- end .info-box -->
              </div><!-- end .span12 -->
            </div><!-- end .row -->
          </div><!-- end .container -->
        </div><!-- end .fullwidth-section-content -->
     </div>
    <!-- /////////////////////////////////// -->
    </div><!-- end #content -->

