    <div id="content" style="margin-top:10px;">
      <div id="page-header">

        <div class="container">
          <div class="row">
            <div class="span12">

                            <h3>About us</h3>
              <h5>About Shiksha System ERP.</h5>

            </div><!-- end .span12 -->

          </div><!-- end .row -->
        </div><!-- end .container -->

      </div><!-- end #page-header -->


      <div class="container">
                <div class="row">
                    <div class="span6">

                        <p>Shiksha System is a comprehensive school management and administrative software that is highly beneficial to educational institutions. Using this software you can monitor the overall working of your whole institution and have a control over its day-to day activities. In addition, parents can also use this software to keep track of their kid’s performance at school.</p>

            <p>Shiksha System is an easy to access, user-friendly and a powerful School Management Software that provides the benefits to everyone to achieve excellence. It’s the one and only integrated software with a multi-user interface, you will ever need to take care of all departments. It is important for the management, while the students, teachers and parents can gain excellence by using it.. </p>

            <br>

            <!-- <a class="btn" href="#">View more</a> -->

                    </div><!-- end .span6 -->
          <div class="span6">

            <div class="aboutus-slider">

                            <ul class="slides">
                                <li>
                                    <img src="/assets/560x240-1.jpg" alt="">
                                </li>
                                <li>
                    <img src="/assets/560x240-2.jpg" alt="">
                                </li>
                                <li>
                  <img src="/assets/560x240-3.jpg" alt="">
                                </li>
                            </ul><!-- end .slides -->

                        </div><!-- end .bxslider -->

          </div><!-- end .span6 -->
                </div><!-- end .row -->
      </div><!-- end .container -->


      <!-- <div class="fullwidth-section" id="bg-15">

        <div class="fullwidth-section-content">

          <div class="container">
            <div class="row">
              <div class="span12">

                <div class="headline text-center">

                  <h3>Our History</h3>

                </div>

                <div class="timeline fixed">

                  <div class="left-side">

                    <p><span>5</span></p>

                    <div class="headline text-center">

                      <h4>The Beginning</h4>
                      <h6>Lobortis sed imperdiet.</h6>

                    </div>

                    <p>Fusce a metus purus. Etiam ligula risus, ultrices eu lacinia et, rutrum sit amet velit. Sed eget urna tinci dunt, lacinia tellus vel, congue sem. </p>

                  </div>
                  <div class="right-side first">

                    <p><span>4</span></p>

                    <div class="headline text-center">

                      <h4>The Beginning</h4>
                      <h6>Lobortis sed imperdiet.</h6>

                    </div>

                    <p>Fusce a metus purus. Etiam ligula risus, ultrices eu lacinia et, rutrum sit amet velit. Sed eget urna tinci dunt, lacinia tellus vel, congue sem. </p>

                  </div>
                  <div class="left-side">

                    <p><span>3</span></p>

                    <div class="headline text-center">

                      <h4>The Beginning</h4>
                      <h6>Lobortis sed imperdiet.</h6>

                    </div>

                    <p>Fusce a metus purus. Etiam ligula risus, ultrices eu lacinia et, rutrum sit amet velit. Sed eget urna tinci dunt, lacinia tellus vel, congue sem. </p>

                  </div>
                  <div class="right-side">

                    <p><span>2</span></p>

                    <div class="headline text-center">

                      <h4>The Beginning</h4>
                      <h6>Lobortis sed imperdiet.</h6>

                    </div>

                    <p>Fusce a metus purus. Etiam ligula risus, ultrices eu lacinia et, rutrum sit amet velit. Sed eget urna tinci dunt, lacinia tellus vel, congue sem. </p>

                  </div>
                  <div class="left-side">

                    <p><span>1</span></p>

                    <div class="headline text-center">

                      <h4>The Beginning</h4>
                      <h6>Lobortis sed imperdiet.</h6>

                    </div>

                    <p>Fusce a metus purus. Etiam ligula risus, ultrices eu lacinia et, rutrum sit amet velit. Sed eget urna tinci dunt, lacinia tellus vel, congue sem. </p>

                  </div>

                </div>

              </div>
            </div>
          </div>

        </div>

            </div> -->

    </div><!-- end #content -->
